In [2]:
import pandas as pd
import requests
import sys
import json
import numpy as np

In [3]:
df = pd.read_csv('fire_and_weather_data.csv', low_memory=False)

In [4]:
n = len(df)
n

250342

In [5]:
# df = df.drop(labels=['test'],axis=1)
df.weather_data = df.weather_data.fillna('')

In [6]:
df.head()

,Unnamed: 0.1,Unnamed: 0,X,Y,FireCause,FireDiscoveryDateTime,POOCounty,POOFips,POOState,weather_data
0,0,0,-118.180712,33.808985,Unknown,2020/02/28 20:45:40+00,Los Angeles,06037,US-CA,"{""queryCost"":1,""latitude"":33.8089848330001,""lo..."
1,1,1,-117.153901,33.176394,NaN,2019/07/01 19:54:00+00,San Diego,06073,US-CA,"{""queryCost"":1,""latitude"":33.1763937050001,""lo..."
2,2,2,-121.104180,38.834727,NaN,2016/06/20 22:05:59+00,Placer,06061,US-CA,"{""queryCost"":1,""latitude"":38.8347273530001,""lo..."
3,3,3,-117.228592,33.782442,Undetermined,2021/11/25 15:17:32+00,Riverside,06065,US-CA,"{""queryCost"":1,""latitude"":33.7824418820001,""lo..."
4,4,4,-118.309032,33.941815,Undetermined,2022/11/21 11:25:33+00,Los Angeles,06037,US-CA,"{""queryCost"":1,""latitude"":33.9418148400001,""lo..."

In [7]:
response = ""
for index, row in df.iterrows():
    if index%500 == 0:
        print('\r', index, end = '', flush=True)
    if row["weather_data"] != "":
        continue
    fire_date = row["FireDiscoveryDateTime"].split(" ")[0].replace("/","-")
    lng, lat = str(row["Y"]), str(row["X"])
    
    url = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/" \
    + lng + "," + lat + "/" + fire_date + "/" + fire_date \
    + "?unitGroup=us&include=days&key=N34H8P28WBZH5ADUJAVME467A&contentType=json"
    response = requests.request("GET", url)
    
    if response.status_code!=200:
        print(index, 'Unexpected Status code: ', response.status_code, response.text)
        break
    else:
        df.at[index, 'weather_data'] = response.text
    if index%100 == 0:
        df.to_csv("fire_and_weather_data.csv")
df.to_csv("fire_and_weather_data.csv")

 250000

In [8]:
df.at[250000, 'weather_data']==""

False

In [ ]:
start_index

In [ ]:
df.to_csv("fire_and_weather_data.csv")

In [ ]:
json.loads(df['weather_data'][0])

In [16]:
l = (response.text)

1

print(response)